@page "/users/logout"
@inject IAuthService authService
@inject NavigationManager navManagaer

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await authService.Logout();
        navManagaer.NavigateTo("/");
    }
}
